body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button-record{
  border: none;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
}
.text-and-audio{
  position: fixed;
bottom: 30px;

  width: 100%;
  right: 0;
  left: 0;
  width: 75%;
  margin: auto;
  /* position: relative; */
  display: flex;


border-radius: 30px;
border: 1px solid #000;

}
.text-write{
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  font-size: 25px;
}
.userMessage{
  width: 100%;
  background-color: rgba(57, 228, 41, 0.685); 
 margin-bottom: 20px;
color: #646464;
border-radius: 20px;
padding: 10px 20px;
font-size: 20px;
font-weight: bolder;
}
.LLMtext{
  text-align: left;
  background-color: rgba(38, 38, 202, 0.685); 
 margin-bottom: 20px;
 color: #ffffff;
    width: 100%;
padding: 10px 20px;
font-size: 20px;
font-weight: bolder;

  border-radius: 20px;
}